<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>首页</title>
		<link rel="stylesheet" th:href="@{/layui/css/layui.css}">
	</head>
	<body>
		<!-- 宽度不固定 -->
		<div class="layui-fluid">
			<div class="layui-row layui-col-space4">
				<div class=" layui-bg-red">
					<div class="layui-col-md3 layui-bg-green">
						<i class="layui-icon layui-icon-face-smile" style="font-size: 30px; color: #ff9718;"></i>
					</div>
					<div class="layui-col-md6 layui-bg-blue">
						<ul class="layui-nav layui-bg-blue" lay-filter="">
							<li class="layui-nav-item"><a href="">最新活动</a></li>
							<li class="layui-nav-item layui-this"><a href="">产品</a></li>
							<li class="layui-nav-item"><a href="">大数据</a></li>
							<li class="layui-nav-item">
								<a href="javascript:;">解决方案</a>
								<dl class="layui-nav-child">
									<!-- 二级菜单 -->
									<dd><a href="">移动模块</a></dd>
									<dd><a href="">后台模版</a></dd>
									<dd><a href="">电商平台</a></dd>
								</dl>
							</li>
							<li class="layui-nav-item"><a href="">社区</a></li>
						</ul>

						<script>
							//注意：导航 依赖 element 模块，否则无法进行功能性操作
							layui.use('element', function() {
								var element = layui.element;

								//…
							});
						</script>
					</div>

					<div class="layui-col-md3 layui-bg-green">
						<ul class="layui-nav layui-bg-blue">
							<li class="layui-nav-item">
								<a href="">控制台<span class="layui-badge">9</span></a>
							</li>
							<li class="layui-nav-item">
								<a href="">个人中心<span class="layui-badge-dot"></span></a>
							</li>
							<li class="layui-nav-item">
								<a href=""><img src="" class="layui-nav-img">我</a>
								<dl class="layui-nav-child">
									<dd><a href="javascript:;">修改信息</a></dd>
									<dd><a href="javascript:;">安全管理</a></dd>
									<dd><a href="javascript:;">退了</a></dd>
								</dl>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!-- 固定宽度 -->
		<div class="layui-container">
			<div class="layui-row ">
				<div class="layui-col-md2 layui-bg-blue">
					<ul class="layui-nav layui-nav-tree " lay-filter="test">
						<!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
						<li class="layui-nav-item layui-nav-itemed">
							<a href="javascript:;">默认展开</a>
							<dl class="layui-nav-child">
								<dd><a href="javascript:;">选项1</a></dd>
								<dd><a href="javascript:;">选项2</a></dd>
								<dd><a href="">跳转</a></dd>
							</dl>
						</li>
						<li class="layui-nav-item">
							<a href="javascript:;">解决方案</a>
							<dl class="layui-nav-child">
								<dd><a href="">移动模块</a></dd>
								<dd><a href="">后台模版</a></dd>
								<dd><a href="">电商平台</a></dd>
							</dl>
						</li>
						<li class="layui-nav-item"><a href="">产品</a></li>
						<li class="layui-nav-item"><a href="">大数据</a></li>
					</ul>
				</div>
				<div class="layui-col-md7 ">
					<div class="layui-collapse">
						<div class="layui-colla-item">
							<h2 class="layui-colla-title">杜甫</h2>
							<div class="layui-colla-content layui-show">
								你的内容 3/12 你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容
								9/12你的内容
								9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容
								9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容
								9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容
								9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容
								9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容
								9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容
								9/12你的内容 9/12你的内
							</div>
						</div>
						<div class="layui-colla-item">
							<h2 class="layui-colla-title">李清照</h2>
							<div class="layui-colla-content layui-show">你的内容 3/12 你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容
								9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容
								9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容
								9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容
								9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容
								9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容
								9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容
								9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容
								9/12你的内容 9/12你的内</div>
						</div>
						<div class="layui-colla-item">
							<h2 class="layui-colla-title">鲁迅</h2>
							<div class="layui-colla-content layui-show">你的内容 3/12 你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容
								9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容
								9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容
								9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容
								9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容
								9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容
								9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容
								9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容
								9/12你的内容 9/12你的内</div>
						</div>
					</div>

					<script>
						//注意：折叠面板 依赖 element 模块，否则无法进行功能性操作
						layui.use('element', function() {
							var element = layui.element;

							//…
						});
					</script>
				</div>
				<div class="layui-col-md3 layui-bg-red">
					你的内容 3/12 你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容
					9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容
					9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容
					9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容
					9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容
					9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容
					9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容
					9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12你的内容 9/12
				</div>
			</div>


		</div>

	</body>
</html>
