<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的笔记</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <!--    引入bootstrap-->


</head>
<body class="layui-layout-body layui-bg-gray">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header layui-bg-green">
        <div class="layui-logo">
            <a href="/personalpage/testpersonalpage">
                <img src="/img/logo2zuhe2.png" style="height:90%;width:90%">
            </a>
        </div>
        <ul class="layui-nav layui-layout-left layui-bg-green">
            <li class="layui-nav-item"><a href="/personalpage/testpersonalpage#dynamicmao">动态广场</a></li>
            <li class="layui-nav-item"><a href="/personalpage/testpersonalpage#articlemao">文章展示</a></li>
            <li class="layui-nav-item"><a href="/personalpage/testpersonalpage#messagemao">芬芳留言板</a></li>
            <li class="layui-nav-item"><a href="/personalpage/testpersonalpage#readmao">图书分享平台</a></li>
            <li class="layui-nav-item"><a href="/personalpage/testpersonalpage#informationmao">互助中心</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right layui-bg-green">
            <!--个人头像-->
            <li class="layui-nav-item">
                <a href="javascript:;" th:text="${username}">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="/personaldata/searchpersonaldata">基本资料</a></dd>
                    <dd><a href="/personalpage/testpersonalpage">公共主页</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="/login/logout">退出</a></li>
        </ul>
    </div>
    <!--    侧边栏-->
    <div class="layui-side layui-bg-green">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-bg-green"><a href="/personaldata/searchpersonaldata">修改个人资料</a></li>
                <li class="layui-nav-item layui-bg-green"><a href="/dynamicmood/searchdynamicmood">发布动态心情</a></li>
                <li class="layui-nav-item layui-bg-green">
                    <a href="javascript:;">文章模块</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:location.href='/publicarticle/testpublicarticle';">发布文章</a></dd>
                        <dd><a href="javascript:location.href='/publicarticle/searchArticle';">我的文章</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-bg-green">
                    <a href="javascript:;">笔记模块</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:location.href='/publicnote/testpublicnote';">记录笔记</a></dd>
                        <dd><a href="javascript:location.href='/publicnote/searchNote';">我的笔记</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-bg-green"><a href="/msgboard/searchMessage">芬芳留言板</a></li>
                <li class="layui-nav-item layui-bg-green"><a href="/read/searchRead">发表读书分享</a></li>
                <li class="layui-nav-item layui-bg-green"><a href="/information/searchInformation">发布消息</a></li>
            </ul>
        </div>
    </div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <div class="main">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px">
                    <legend>我的笔记</legend>
                </fieldset>

                <div style="padding: 20px; padding-top:40px; padding-bottom:50px;background-color:white;">
                    <div class="layui-row layui-col-space15" style="width: auto;height: auto">
                        <div class="layui-col-md12">
                            <div class="layui-card" style="height: auto">
                                <div class="layui-collapse">
                                    <div th:each="note,iterStat :${list}" class="layui-colla-item">
                                        <h2 th:text="'标题:'+${note.title}" class="layui-colla-title"></h2>
                                        <div th:text="'用户名:'+${note.username}+'&nbsp&nbsp&nbsp&nbsp'+'时间:'+${note.createTime}"
                                             class="layui-colla-content layui-show"></div>
                                        <div th:utext="'笔记内容:'+${note.message}" class="layui-colla-content layui-show"
                                             style="height: 100px"></div>
                                        <button th:onclick="'showDelete('+${note.id}+')'" type="button"
                                                class="layui-btn layui-btn-primary layui-btn-fluid">删除
                                        </button>
                                        <div th:text="''"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-footer" style="background-color: white">
        <!-- 底部固定区域 -->
        ©licy 我的笔记
    </div>
</div>
<script th:src="@{/layui/layui.js}"></script>
<script>
    //JavaScript代码区域
    layui.use(['element', 'layer', 'form', 'layedit'], function () {
        var element = layui.element;
        var layer = layui.layer;
        var form = layui.form;
        var layedit = layui.layedit;
        layedit.build('demo');//建立编辑器
    });

    function showDelete(id) {
        var data = {id: id} //JS里定义对象
        layui.jquery.ajax({
            type: "POST",
            url: "/publicnote/deleteNote",
            async: false, //改为同步请求
            contentType: 'application/json;charset=UTF-8',
            data: JSON.stringify(data),
            dataType: 'json',
            success: function (data) {
                if (data) {
                    //layer.msg('用户名或密码正确');
                    location.href = "/publicnote/searchNote";
                } else {
                    layer.msg('删除失败');
                }
            }
        });
    }
</script>
</body>
</html>