<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人主页</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header layui-bg-green">
        <div class="layui-logo">
        <img src="/img/logo2zuhe2.png"style="height:90%;width:90%"></div>
        <ul class="layui-nav layui-layout-left layui-bg-green">
            <li class="layui-nav-item"><a href="">动态广场</a></li>
            <li class="layui-nav-item"><a href="">文章展示</a></li>
            <li class="layui-nav-item"><a href="">经验分享平台</a></li>
            <li class="layui-nav-item"><a href="">图书分享平台</a></li>
            <li class="layui-nav-item"><a href="">互助中心</a></li>
            <!--            <li class="layui-nav-item">-->
            <!--                <a href="javascript:;">列表</a>-->
            <!--                <dl class="layui-nav-child">-->
            <!--                    <dd><a href="">行1</a></dd>-->
            <!--                    <dd><a href="">行2</a></dd>-->
            <!--                    <dd><a href="">行3</a></dd>-->
            <!--                </dl>-->
            <!--            </li>-->
        </ul>
        <ul class="layui-nav layui-layout-right layui-bg-green">
            <!--个人头像-->
            <li class="layui-nav-item">
                <a href="javascript:;" th:text="${msg}">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退出</a></li>
        </ul>
    </div>

<!--    侧边栏-->
    <div class="layui-side layui-bg-green">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-bg-green"><a href="/personaldata/searchpersonaldata">修改个人资料</a></li>
                <li class="layui-nav-item layui-bg-green"><a href="/dynamicmood/searchdynamicmood">发布动态心情</a></li>
                <li class="layui-nav-item layui-bg-green">
                    <a href="javascript:;">文章模块</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:location.href='/publicarticle/testpublicarticle';">发布文章</a></dd>
                        <dd><a href="javascript:location.href='/publicarticle/myarticle';">我的文章</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-bg-green">
                    <a href="javascript:;">笔记模块</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:location.href='/publicnote/testpublicnote';">发布文章</a></dd>
                        <dd><a href="javascript:location.href='/publicnote/mynote';">我的文章</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-bg-green"><a href="">发表经验分享</a></li>
                <li class="layui-nav-item layui-bg-green"><a href="">发表读书分享</a></li>
                <li class="layui-nav-item layui-bg-green"><a href="">发布消息</a></li>
<!--layui-nav-itemed-->


            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">内容主体区域</div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        ©licy dirp点滴
    </div>
</div>
<script th:src="@{/layui/layui.js}"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
</script>
</body>
</html>