<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>用户注册</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">

    <!--图标-->
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">

    <!--布局框架-->
    <link rel="stylesheet" th:href="@{/css/util.css}">

    <!--主要样式-->
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
注册失败



</body>
</html>